<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prehax.gomovie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TicketDetailActivity"
            android:label="Ticket Details"></activity>
        <activity
            android:name=".TheaterActivity"
            android:label="Theaters" />
        <activity android:name=".GridViewActivity" />
        <activity android:name=".showActivity" />
          <activity
            android:name=".PaymentActivity"
            android:label="Payment" />
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/FullTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowInfoActivity"
            android:label="Personal Information" />
        <activity
            android:name=".PersonInfoActivity"
            android:label="Modify Personal Information" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".ResetPinActivity"
            android:label="Reset Password" />
        <activity
            android:name=".SignupActivity"
            android:label="Register" />
        <activity
            android:name=".MainActivity"
            android:label="Login" />
        <activity
            android:name=".CardActivity"
            android:exported="true"
            android:label="Add Card Details" />
        <activity
            android:name=".ShowCardActivity"
            android:exported="true"
            android:label="Show Saved Cards" />
        <activity
            android:name=".PaywithcvvActivity"
            android:exported="true"
            android:label="Use CVV" />
    </application>

</manifest>