<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prehax.gomovie">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminUpcoimingActivity"></activity>
        <activity
            android:name=".AddShowTimeActivity"
            android:label="Add ShowTime" />
        <activity
            android:name=".FacilitiesActivity"
            android:exported="true" />
        <activity
            android:name=".MovieTrailerActivity"
            android:exported="true" />
        <activity
            android:name=".TicketHistoryActivity"
            android:exported="true"
            android:label="Purchase History" />
        <activity
            android:name=".TicketDetailActivity"
            android:exported="true"
            android:label="Ticket Details" />
        <activity
            android:name=".TheaterActivity"
            android:exported="true"
            android:label="Theaters" />
        <activity
            android:name=".GridViewActivity"
            android:exported="true" />
        <activity
            android:name=".showActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:label="Payment" />
        <activity
            android:name=".LaunchActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/FullTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShowInfoActivity"
            android:exported="true"
            android:label="Personal Information" />
        <activity
            android:name=".PersonInfoActivity"
            android:exported="true"
            android:label="Modify Personal Information" />
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".AdminHomeActivity"
            android:exported="true" />
        <activity
            android:name=".ResetPinActivity"
            android:exported="true"
            android:label="Reset Password" />
        <activity
            android:name=".SignupActivity"
            android:exported="true"
            android:label="Register" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".CardActivity"
            android:exported="true"
            android:label="Add Card Details" />
        <activity
            android:name=".ShowCardActivity"
            android:exported="true"
            android:label="Show Saved Cards" />
        <activity
            android:name=".PaywithcvvActivity"
            android:exported="true"
            android:label="Use CVV" />
        <activity
            android:name=".CouponActivity"
            android:exported="true"
            android:label="Coupons" />
        <activity
            android:name=".Trending_Activity"
            android:exported="true"
            android:label="Trending Movies" />
        <activity
            android:name=".WatchListActivity"
            android:exported="true"
            android:label="WatchList" />
        <activity
            android:name=".Upcoming_Activity"
            android:exported="true"
            android:label="Upcoming Movies" />
        <activity
            android:name=".AddCouponActivity"
            android:exported="true"
            android:label="Add Coupons" />
        <activity
            android:name=".ListCouponActivity"
            android:exported="true"
            android:label="Available Coupons" />
    </application>

</manifest>